// Thin

@font-face
  font-family: Geometria
  font-weight: 100
  font-style: normal
  src: url("./geometria/Geometria-Thin.woff") format('woff')

@font-face
  font-family: Geometria
  font-weight: 100
  font-style: italic
  src: url("./geometria/Geometria-ThinItalic.woff") format('woff')


// ExtraLight
@font-face
  font-family: Geometria
  font-weight: 200
  font-style: normal
  src: url("./geometria/Geometria-ExtraLight.woff") format('woff')

@font-face
  font-family: Geometria
  font-weight: 200
  font-style: italic
  src: url("./geometria/Geometria-ExtraLightItalic.woff") format('woff')


// Light
@font-face
  font-family: Geometria
  font-weight: 300
  font-style: normal
  src: url("./geometria/Geometria-Light.woff") format('woff')

@font-face
  font-family: Geometria
  font-weight: 300
  font-style: italic
  src: url("./geometria/Geometria-LightItalic.woff") format('woff')


// Regular
@font-face
  font-family: Geometria
  font-weight: 400
  font-style: normal
  src: url("./geometria/Geometria.woff") format('woff')

@font-face
  font-family: Geometria
  font-weight: 400
  font-style: italic
  src: url("./geometria/Geometria-Italic.woff") format('woff')


// Medium
@font-face
  font-family: Geometria
  font-weight: 500
  font-style: normal
  src: url("./geometria/Geometria-Medium.woff") format('woff')

@font-face
  font-family: Geometria
  font-weight: 500
  font-style: italic
  src: url("./geometria/Geometria-MediumItalic.woff") format('woff')


// Bold
@font-face
  font-family: Geometria
  font-weight: 600
  font-style: normal
  src: url("./geometria/Geometria-Bold.woff") format('woff')

@font-face
  font-family: Geometria
  font-weight: 600
  font-style: italic
  src: url("./geometria/Geometria-BoldItalic.woff") format('woff')


// ExtraBold
@font-face
  font-family: Geometria
  font-weight: 700
  font-style: normal
  src: url("./geometria/Geometria-ExtraBold.woff") format('woff')

@font-face
  font-family: Geometria
  font-weight: 700
  font-style: italic
  src: url("./geometria/Geometria-ExtraBoldItalic.woff") format('woff')


// Heavy
@font-face
  font-family: Geometria
  font-weight: 800
  font-style: normal
  src: url("./geometria/Geometria-Heavy.woff") format('woff')

@font-face
  font-family: Geometria
  font-weight: 800
  font-style: italic
  src: url("./geometria/Geometria-HeavyItalic.woff") format('woff')