<script setup>
import { useCategoriesStore } from "./../stores/categories.js";
import { useHistoryStore } from "./../stores/history.js";

const categoriesStore = useCategoriesStore()
const historyStore = useHistoryStore()

const savedIncomeCategories = localStorage.getItem('incomeCategories') ?? "[]"
const savedExpensesCategories = localStorage.getItem('expensesCategories') ?? "[]"

const savedHistory = localStorage.getItem('history') ?? "[]"

categoriesStore.$patch({
  income: JSON.parse(savedIncomeCategories),
  expenses: JSON.parse(savedExpensesCategories)
})

historyStore.$patch({
  history: JSON.parse(savedHistory)
})

const incomeCategories = categoriesStore.getIncomeCategories
const expensesCategories = categoriesStore.getExpensesCategories

const history = historyStore.getHistory

categoriesStore.$subscribe((mutation, state) => {
  localStorage.setItem('incomeCategories', JSON.stringify(state.income))
  localStorage.setItem('expensesCategories', JSON.stringify(state.expenses))
})

let balance = 0

history.forEach((el) => {
  if (el[0] === 'income') balance += parseInt(el[2])
  else balance -= parseInt(el[2])
})

historyStore.$subscribe((mutation, state) => {
  localStorage.setItem('history', JSON.stringify(state.history))

  balance = 0

  state.history.forEach((el) => {
    if (el[0] === 'income') balance += parseInt(el[2])
    else balance -= parseInt(el[2])
  })
})
</script>

<script>
export default {
  setup() {

  },
  data() {
    return {
      incomeMode: true,
      addableCategory: '',

      addableType: 'income',
      chosenCategory: '',
      chosenCost: '',
      showModal: false,
    }
  },
  methods: {
    addCategory(store) {
      if (this.incomeMode) store.addIncomeCategory(this.addableCategory)
      else store.addExpensesCategory(this.addableCategory)

      this.addableCategory = ''
    },
    addHistoryItem(store) {
      store.addHistoryItem(this.addableType, this.chosenCategory, this.chosenCost)
      this.showModal = false
    }
  }
}
</script>

<template>
  <div class="wrapper">
    <div class="wrapper__categories">
      <span class="categories__title">Категории</span>
      <div class="categories__switch">
        <span class="switch__item" @click="incomeMode = true">Доходы</span>
        <span class="switch__item" @click="incomeMode = false">Расходы</span>
      </div>
      <div class="categories__neon">
        <div class="neon__item" :class="{disabled: !incomeMode}"></div>
        <div class="neon__item" :class="{disabled: incomeMode}"></div>
      </div>
      <form class="categories__form">
        <input type="text" placeholder="Категория" class="form__name" v-model="addableCategory">
        <img src="./../assets/icons/save.png" class="form__submit" @click="addCategory(categoriesStore)">
      </form>
      <div class="categories__list list__income" v-show="incomeMode">
        <span v-for="category in incomeCategories" class="list__item">
          {{category}}
        </span>
      </div>
      <div class="categories__list list__expenses" v-show="!incomeMode">
        <span v-for="category in expensesCategories" class="list__item">
          {{category}}
        </span>
      </div>
    </div>
    <div class="wrapper__content">
      <div class="content__title">Баланс: {{balance}}</div>
      <div class="content__choose">
        <span class="choose__item" @click="() => {addableType = 'income'; showModal = true}">Добавить доход</span>
        <span class="choose__item" @click="() => {addableType = 'expenses'; showModal = true}">Добавить расход</span>
      </div>
      <div class="content__neon">
        <div class="cneon__item"></div>
        <div class="cneon__item"></div>
      </div>
      <div class="content__history">
        <div class="history__item" v-for="item in history">
          <span class="item__reason" :class="{income: item[0] === 'income'}">{{item[1]}}</span>
          <span class="item__cost" :class="{income: item[0] === 'income'}">{{item[0] === 'income' ? '+' : '-'}}{{item[2]}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" v-show="showModal">
    <img src="./../assets/icons/close.png" alt="" class="modal__close" @click="showModal = false">
    <span class="modal__title">Добавить {{addableType === 'income' ? 'доход' : 'расход'}}</span>
    <form class="modal__form">
      <select v-model="chosenCategory" v-if="addableType === 'income'" class="form__select">
        <option disabled value="">Выберите категорию</option>
        <option v-for="category in incomeCategories" :value="category" >{{category}}</option>
      </select>
      <select v-model="chosenCategory" v-if="addableType === 'expenses'" class="form__select">
        <option disabled value="">Выберите категорию</option>
        <option v-for="category in expensesCategories" :value="category">{{category}}</option>
      </select>
      <input type="text" placeholder="2000" class="form__cost" v-model="chosenCost">
      <button class="form__save" @click="addHistoryItem(historyStore)">Сохранить</button>
    </form>
  </div>

  <div class="darker" v-show="showModal"></div>
</template>

<style scoped lang="sass">
  .darker
    position: absolute
    top: 0
    left: 0
    opacity: 0.1
    transition: 0.3s
    z-index: 1
    width: 100%
    height: 100%
    background: #000

  .modal
    position: absolute
    z-index: 2
    top: 50%
    left: 50%
    transform: translate(-50%, -60%)
    width: 400px
    height: 500px
    background: #fff
    border-radius: 10px
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)
    transition: 0.3s

    &__title
      text-align: center
      display: block
      padding: 30px 0
      font-size: 20px
      font-weight: 500

    &__close
      width: 15px
      opacity: 0.5
      cursor: pointer
      position: absolute
      right: 15px
      top: 15px

  .form
    &__select, &__cost
      width: 60%
      border: none
      border-bottom: 1px solid #d9d9d9
      margin: 0 auto
      display: block
      font-size: 16px
      text-align: center
      padding: 10px 0

      &:focus
        outline: none

    &__cost
      margin-top: 50px

    &__save
      width: 60%
      margin: 0 auto
      margin-top: 175px
      cursor: pointer

      background: #fff
      display: block
      font-size: 20px
      border: 0
      border-radius: 10px
      padding: 20px 0

  .disabled
    opacity: 0

  .income
    color: #079992

  .wrapper
    display: flex
    justify-content: space-between
    padding: 25px 10vw

    &__categories
      padding: 5px
      width: 20vw
      margin-right: 10px

    &__content
      margin-left: 10px
      padding: 5px
      width: 60vw

  .categories
    &__title
      font-size: 32px
      font-weight: 500

    &__form
      width: 100%
      margin: 10px 0
      display: flex
      justify-content: space-between

    &__switch
      width: 100%
      margin: 10px 0
      display: flex

    &__neon
      width: 100%
      display: flex

  .switch
    &__item
      width: 50%
      text-align: center
      font-weight: 500
      cursor: pointer
      
  .neon
    &__item
      width: 50%
      transition: 0.3s
      height: 3px

      &:nth-child(1)
        background: #079992

      &:nth-child(2)
        background: #e55039

  .form
    &__name
      width: 85%
      margin-right: 10px
      border: 0
      border-bottom: 1px solid #d9d9d9
      font-size: 16px
      padding: 5px 0

      &:focus
        outline: 0

    &__submit
      width: 25px
      cursor: pointer
      margin-left: 10px

  .list
    &__item
      display: block
      font-size: 16px
      padding: 3px 0

  .content
    &__title
      font-size: 32px
      font-weight: 500

    &__choose
      width: 100%
      margin: 10px 0
      display: flex

    &__neon
      width: 100%
      display: flex

  .cneon
    &__item
      width: 50%
      transition: 0.3s
      height: 3px

      &:nth-child(1)
        background: #079992

      &:nth-child(2)
        background: #e55039

  .choose
    &__item
      width: 50%
      text-align: center
      font-weight: 500
      cursor: pointer

  .history
    &__item
      border-bottom: 1px solid #d9d9d9
      padding: 28px 35px
      color: #e55039
      display: flex
      justify-content: space-between
      font-size: 20px

  .item
    &__cost
      font-weight: 100

</style>