<script setup>

</script>

<template>
  <header>
    <span class="logo">ФинПлан</span>
    <img src="./../assets/icons/info.png" alt="" class="info">
  </header>
</template>

<style scoped lang="sass">
  header
    display: flex
    justify-content: space-between
    padding: 20px 10vw
    align-items: center

  .logo
    color: #079992
    font-size: 32px
    font-weight: 600

  .info
    width: 25px
    cursor: pointer
</style>